<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenxian.mapper.SalaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shenxian.pojo.Salary">
        <id column="id" property="id" />
        <result column="basicSalary" property="basicsalary" />
        <result column="bonus" property="bonus" />
        <result column="lunchSalary" property="lunchsalary" />
        <result column="trafficSalary" property="trafficsalary" />
        <result column="allSalary" property="allsalary" />
        <result column="pensionBase" property="pensionbase" />
        <result column="pensionPer" property="pensionper" />
        <result column="createDate" property="createdate" />
        <result column="medicalBase" property="medicalbase" />
        <result column="medicalPer" property="medicalper" />
        <result column="accumulationFundBase" property="accumulationfundbase" />
        <result column="accumulationFundPer" property="accumulationfundper" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, basicSalary, bonus, lunchSalary, trafficSalary, allSalary, pensionBase, pensionPer, createDate, medicalBase, medicalPer, accumulationFundBase, accumulationFundPer, name
    </sql>

</mapper>
